 <div class="student_info">     
      
          <h1><a href="/<%= @student.id %>"><%= @student.name %></a></h1>
          <h2><%= @student.tagline %><h2>
          <h3><%= @student.intro_paragraph %></h3>
          <h3><%= @student.social_links %></h3>
          <h3><%= @student.work %></h3>
          <h3><%= @student.education %></h3>
          <h3><%= @student.coder_cred %></h3>
          <h3><%= @student.blog_link %></h3>
          <h3><%= @student.fav_companies %></h3>
          <h3><%= @student.fav_websites %></h3>
          <h3><%= @student.quotes %></h3>

    </div>